* {
    padding: 0 ;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    /* overflow: hidden; */
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
}
body {
    background-color:  white;
}
.off {
    Width: 100%;
    Height: 38px;
    background-color: black;
    color: white;
}
.off p {
    width: 351px;
    height: 19px;
    font-family: Satoshi;
    font-size: 14px;
    font-weight: 400;
    
    padding: 4px 0px;
    display: flex;
    height: 34px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.off a {
    text-decoration: none;
    text-decoration: underline;
    color: white;
}
.nav {
    display: flex;
    padding: 4px 0px;
    display: flex;
    height: 34px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.nav h3 {
    font-family: Integral CF;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    /* letter-spacing: 0em; */
    text-align: center;
    /* margin-left: -12rem; */
    /* width: fit-content; */
}
.links {
    display: flex;
}
.links p {
    padding: 1rem;
}
.nav input {
    width: 500px;
height: 48px;
padding: 12px, 16px, 12px, 16px;
border-radius: 62px;
/* gap: 12px; */
border: none;
background-color:#F0F0F0;
font-size: larger;
}
.nav img {
    width: 62px;
height: 24px;
position: relative;
left: 28px;

}
.navhr {
    width: 1240px;
top: 134px;
left: 100px;
/* border: 1px; */
margin-top: 2rem;
display: flex;
justify-content: center;
align-items: center;
}
.home {
    display: flex;
    margin-top: 1rem;
    margin-left: 2rem;
    font-family: Satoshi;
font-size: 20px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
}   
.home .gray {
    color: gray;
}
.home .black {
    margin-left: 10px;
}
.filters {
    /* Frame 27 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px 24px;
gap: 24px;

position: absolute;
width: 295px;
height: 1220px;
left: 25px;
top: 204px;

border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 20px;
}
.fil1 {
padding: 20px, 24px, 20px, 24px;
border: 1px;
display: flex;
font-family: Satoshi;
font-size: 20px;
font-weight: 700;
line-height: 27px;
/* background-color: aquamarine; */

width: 247px;
height: 27px;
justify-content: space-between;

}
.fil1 img {
    width: 20.25px;
height: 18.75px;
position: relative;
top: 6.75px;
left: 1.88px;

}
.filters hr {
    width: 247px;
}
.fil2 {
    width: Fill 247px;
height: Hug 160px;
gap: 20px;

}
.fil2 p {
    font-family: Satoshi;
font-size: 16px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
margin: 1rem;
}
.fil3 {
    width: 247px;
height: 90px;
gap: 20px;
}
.fil4 {
    width: 247px;
height:  137px;
gap: 20px;
}
.fil4 img{
    width:  247px;
    height:  100px;
    padding-top: 20px;
}
.fil5 {
    width: 247px;
    height: 274px;
    display: block;
    flex-wrap: wrap-reverse;
    flex-direction: row;
}
.sizes {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: Fixed 247px;
    height: 227px;
    gap: 8px;

}
.unpicked {
    height: 39px;
    background-color: #F0F0F0;
    border-radius: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px, 20px, 10px, 20px;
}
.picked {
    height: 39px;
    background-color:#000000;
    color: #F0F0F0;
    border-radius: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product {
    position: relative;
    left: 22rem;
    top: 2rem;
    width: fit-content;
}
.cat {
    width: 250px;
    /* background-color: aqua; */
    margin: 1rem 1rem 1rem 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.proimg {
    width: 250px;
    height: fit-content;
}
.rating {
    width: 126.2px;
height: 19px;
top: 612px;
left: 415px;
gap: 13px;
}
.line {
    display: flex;
    /* background-color: blueviolet; */
    margin-top: 1rem;

    width: fit-content;
height: fit-content;
top: 707px;
left: 416px;
border-radius: 20px;

}

